body {
	min-width: 1200px;
	min-height: 800px;
}

.page-content {
	min-width: 1200px!important;
	min-height: 800px;
}

table tr th {
	text-align: center!important;
}

table tr td {
	text-align: center!important;
}

td a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.banner-text{
	display: inline-block;
    color: #fff;
    line-height: 70px;
	margin-left: 20px;
	max-width: 1200px;
	padding: 10px;
}
.hover-body {
            position: relative;
        }
        .hover-show {
            position:absolute;
            top: 10px;
            left: 50px;
            z-index: 10;
            display: none;
        }
        .hover-show li {
            width: 150px;
            height: 30px;
            background: #fff;
            border-bottom:1px solid #ccc;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            position: relative;
            
        }
        .hover-show li:hover {
            background: #ccc;
            /* color: #fff; */
        }
        .hover-show div {
            top: 0;
            position: absolute;
            width: 150px;
        }
        .hover-show div ul {
            position: absolute;
            top: 0;
            left: 150px;
        }